
.booking-section {
    background-color: rgba(207, 10, 46, 0.8); /* This sets the alpha value to 0.5 (50% transparency) */
    color: white;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Apply styles to the form */
.booking-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #EBEBEB; /* Set your desired background color */

}
.form-columns {
    column-count: 2;
}

/*!* Clearfix to handle the inline-block spacing issue *!*/
/*.booking-form::after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style text inputs and selects */
.booking-input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}
/* Style buttons */
.booking-button {
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    /*margin: 0 auto 0 230px;*/
    cursor: pointer;
    width: 100%; /* Make the button fill the width of its container */
    background-color: var(--main-color); /* Match the color of your header */
    color: #fff;
    border: 1px solid var(--main-color); /* Match the color of your header */
}

.booking-button:hover {
    background-color: #fd052f; /* Set your desired button hover color */
    border: 1px solid #fd052f;
}

.custom-btn {
    background-color: #343a40;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Optional: Add styles for responsive design */
@media screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }

    th, td {
        text-align: center;
    }
}
