<footer>
    <div class="footer-container container">
        <div class="footer-box">
            <a href="#" class="logo">Taxi<span>App</span></a>
            <div class="social">
                <a href=""><i class='bx bxl-youtube'></i></a>
                <a href=""><i class='bx bxl-discord'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-github'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Page</h3>
            <a href="#">Home</a>
            <a href="#">Cars</a>
            <a href="#">Drivers</a>
            <a href="#">Contact</a>

        </div>
        <div class="footer-box">
            <h3>Payment Services</h3>

            <div>
                <a href="#"><i class="fa-brands fa-cc-paypal"></i> PayPal</a> <br>
                <a href="#"><i class="fa-brands fa-cc-apple-pay"></i> ApplePay</a> <br>
                <a href="#"><i class="fa-brands fa-google-pay"></i> GooglePay</a> <br>
                <a href="#"><i class="fa-brands fa-cc-amazon-pay"></i>AmazonPay</a>  <br>
            </div>
        </div>
        <div class="footer-box">
            <p>Subscribe to our newsletter</p>
            <form>
                <div class="input-wrap">
                    <input type="email" id="subscribe" name="subscribe" placeholder="ex@gmail.com" /><button type="submit">
                    <i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="mekk">
            <p>TP PROJECT - All Rights Reserved</p>
        </div>
    </div>
</footer>