<header xmlns:th="http://www.thymeleaf.org">
    <div class="header-container">
        <h1>Taxi App</h1>
        <nav>
            <a class="nav-item" sec:authorize="isAuthenticated()">
                <th:block th:if="${#request.getRemoteUser() != null}"
                          th:text="${#request.getRemoteUser()}"></th:block>
            </a>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/drivers}">Drivers</a>
            <a th:href="@{/cars}">Cars</a>

            <a class="nav-item" sec:authorize="isAuthenticated()"
               href="/logout">
                <i class="fa fa-shopping-cart"></i> Logout
            </a>

            <a class="nav-item" sec:authorize="!isAuthenticated()"
               href="/login">
                <i class="fa fa-shopping-cart"></i> Login
            </a>
        </nav>
    </div>
</header>