<header>
    <div class="nav container">
        <i class='bx bx-menu' id="menu-icon"></i>
        <a th:href="@{/}" class="logo">Taxi<span>App</span></a>
        <ul class="navbar">

            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/drivers}">Drivers</a></li>
            <li><a th:href="@{/cars}">Cars</a></li>
            <li><a th:href="@{/booking/info}">Booking</a></li>
            <li>
                <a class="nav-item"
                   sec:authorize="isAuthenticated()">
                    <th:block th:if="${#request.getRemoteUser() != null}"
                              th:text="${#request.getRemoteUser()}"></th:block>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </li>
        </ul>
        <i class='bx bx-search-alt' id="search-icon" ></i>
        <div class="search-box container">
            <label for="search-box"></label>
            <input type="search" name="search-box" id="search-box" placeholder="Search here.."/>
        </div>
    </div>
</header>