
<form th:method="POST" th:action="@{/drivers/add}">
    <input id="id" type="hidden" name="id" th:value="(${driver} != null ? ${driver?.getId()} : '')">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text"
               class="form-control"
               id="fullName"
               name="fullName"
               th:value="(${driver} != null ? ${driver.fullName} : '')"
               required
               placeholder="Enter driver's full name">
    </div>
    <<div class="form-group">
    <label for="car">Car</label>
    <select class="form-control" id="car" name="car.id">
        <!-- Iterate over cars and populate the dropdown -->
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.model}"></option>
    </select>
</div>

    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-primary" href="/drivers">Back</a>
</form>

