<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/list.css}">
<script th:src="@{/webjars/thymeleaf-extras-java8time/3.0.4.RELEASE/js/thymeleaf-extras-java8time.min.js}"></script>

<div class="container mt-5">
        <div class="row mb-2">
            <div class="col-md-3 mt-3 mb-3 custom">
                <h4 class="mt-3">Travel Info:</h4>
                <div class="mb-3" th:if="${bookingDto != null}">

                    <!--<div th:each="booking : ${bookings}">-->
                    <div class="d-flex justify-content-between">From: <span th:text="${bookingDto.pickupLocation}"></span></div>
                    <div class="d-flex justify-content-between">To: <span th:text="${bookingDto.dropOffLocation}"></span></div>
                    <div class="d-flex justify-content-between">Travel time: <span th:text="${bookingDto.duration +' hours'}"></span></div>
                    <div class="d-flex justify-content-between">Travel distance: <span th:text="${bookingDto.kilometers+' km'}"></span></div>
                    <div class="d-flex justify-content-between">Passengers: <span th:text="${passengers}"></span></div>
                    <div class="d-flex justify-content-between">Date: <span th:text="${#temporals.format(userPickupTime, 'yyyy-MM-dd')}"></span></div>
                    <div class="d-flex justify-content-between">Pick-Up Time: <span th:text="${#temporals.format(userPickupTime, 'HH:mm')}"></span></div>
                    <div th:if="${bookingDto.returnDateTime != null}">
                        <div class="d-flex justify-content-between">Return Date: <span th:text="${#temporals.format(userReturnTime, 'yyyy-MM-dd')}"></span></div>
                        <div class="d-flex justify-content-between">Return Time: <span th:text="${#temporals.format(userReturnTime, 'HH:mm')}"></span></div>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <section class="cars container row" th:each="car : ${cars}">
                    <div class="col-12">
                        <div class="mb-3">
                            <h3 class="car mt-0 p-2" th:text="${car.model}"></h3>
                            <div class="row p-2">
                                <div class="col-12 col-md-3">
                                    <img src="https://www.seaisland.com/content/uploads/2022/01/placeholder-image.png" class="w-100 mr-2" alt="Placeholder">
                                    <!--                        <img th:src="${car.image}" class="w-100" th:id="${'carImage_' + car.id}">-->
                                </div>
                                <div class="col-12 col-md-9 pl-2">
                                    <div class="row justify-right">
                                        <div class="col-12 col-md-5 mb-2 mb-md-0">
                                            <div class="row align-items-center mb-3">
                                                <div class="col-6 mb-3">Max Passengers:</div>
                                                <div class="col-6 font-weight-bold" th:text="${car.capacity}"></div>
                                                <div class="col-6 mb-2">Bags:</div>
                                                <div class="col-6 font-weight-bold" th:text="${car.bag}"></div>
                                                <div class="col-6">Price/km:</div>
                                                <div class="col-6 font-weight-bold" th:text="${car.pricePerKm + ' $'}"></div>

                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5 mb-2 mb-md-0">
                                            <div th:if="${bookingDto.returnDateTime != null}" class="row ml-1">
                                                <div class="col-6 price-label">Price:</div>
                                                <div class="col-6 font-weight-bold calculated-price" th:with="result=${car.pricePerKm * bookingDto.kilometers * 2}"> <span th:text="${result+'$'}"></span></div>
                                            </div>
                                            <div th:if="${bookingDto.returnDateTime == null}" class="row ml-1">
                                                <div class="col-6 price-label">Price:</div>
                                                <div class="col-6 font-weight-bold calculated-price" th:with="result=${car.pricePerKm * bookingDto.kilometers}"> <span th:text="${result+'$'}"></span></div>
                                            </div>
                                            <div>
                                                <form th:method="POST" th:action="@{'/booking/bookCar/{id}' (id=${car.id})}">
                                                    <button type="submit">Book this car</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
</div>