<link rel="stylesheet" th:href="@{/bookingcss.css}" type="text/css" xmlns:sec="http://www.w3.org/1999/xhtml"/>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<br>
<br>
<div class="container mt-5" th:if="${#lists.size(bookingsUser) > 0}">
  <div class="row mb-2">
    <!-- Table to display bookings -->
    <table class="table">
      <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Passengers</th>
        <th>Date</th>
        <th>Pick-Up Time</th>
        <th>Status</th>
        <th>Driver</th>
        <th>Car</th>
        <th >Return Date</th>
        <th>Return Time</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="bookingU : ${bookingsUser}">
        <td th:text="${bookingU.pickupLocation}"></td>
        <td th:text="${bookingU.dropOffLocation}"></td>
        <td th:text="${bookingU.passengers}"></td>
        <td th:text="${#temporals.format(bookingU.pickupDateTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(bookingU.pickupDateTime, 'HH:mm')}"></td>
        <td th:text="${bookingU.status}"></td>
        <td th:text="${bookingU.driver.name+ ' ' + bookingU.driver.surname}"></td>
        <td th:text="${bookingU.driver.car.model}"></td>
        <td th:text="${#temporals.format(bookingU.returnDateTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(bookingU.returnDateTime, 'HH:mm')}"></td>
        <td>
          <th:block th:if="${bookingU.status == showButton}">
          <form th:method="post" th:action="@{'/booking/cancel/{id}' (id=${bookingU.id})}">
            <button type="submit" class="booking-button">Cancel</button>
          </form>
          </th:block>
        </td>
        <td th:if="${#strings.equals(bookingU.status, 'ACCEPTED')}">
          <form th:method="get" th:action="@{'/payment'}">
            <button type="submit" class="payment-button">Pay</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<th:block th:if="${isDriver}" >
  <div class="container mt-5" >
    <div class="row mb-2">
      <!-- Table to display bookings -->
      <table class="table">
        <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Passengers</th>
          <th>Date</th>
          <th>Pick-Up Time</th>
          <th>Status</th>
          <th>Return Date</th>
          <th>Return Time</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookingsDriver}">
          <td th:text="${booking.pickupLocation}"></td>
          <td th:text="${booking.dropOffLocation}"></td>
          <td th:text="${booking.passengers}"></td>
          <td th:text="${#temporals.format(booking.pickupDateTime, 'yyyy-MM-dd')}"></td>
          <td th:text="${#temporals.format(booking.pickupDateTime, 'HH:mm')}"></td>
          <td th:text="${booking.status}"></td>
          <td th:text="${#temporals.format(booking.returnDateTime, 'yyyy-MM-dd')}"></td>
          <td th:text="${#temporals.format(booking.returnDateTime, 'HH:mm')}"></td>
          <td>
            <!--                    <form class="delete" th:method="POST" th:action="@{'booking/delete/{id}' (id=${booking.id})}">-->
            <!--                        <button type="submit" class="booking-button">Delete</button>-->
            <!--                    </form>-->
            <!--                    <br>-->
            <th:block th:if="${booking.status == showButton}">
              <form th:method="post" th:action="@{'/booking/accept/{id}' (id=${booking.id})}">
              <button type="submit" class="booking-button">Accept</button>
            </form>
            </th:block>
            <!--                    <a th:href="@{'/booking/accept/{id}' (id=${booking.id})}" class="custom-btn">Accept</a>-->
            <br>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</th:block>