<link rel="stylesheet" th:href="@{/bookingcss.css}" type="text/css" xmlns:sec="http://www.w3.org/1999/xhtml"/>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<section class="booking-section">
    <h2>Welcome to our Taxi Service</h2>
    <p>Fast and reliable transportation at your fingertips. Book a taxi now!</p>
</section>

<form th:method="POST" th:action="@{/booking/add}" class="booking-form" id="bookingForm">

    <label for="tripType">Trip Type:</label>
    <select id="tripType" name="tripType">
        <option th:value="oneWay">One Way</option>
        <option th:value="roundTrip">Round Trip</option>
    </select>
    <div class="form-columns">

        <label for="pickupLocation">From Pickup Location:</label>
        <select id="pickupLocation" name="pickupLocation" >
            <option th:each="bookingDto : ${bookingsDtos}"  th:value="${bookingDto.pickupLocation}"  th:text="${bookingDto.pickupLocation}"></option>
        </select>

        <label for="dropOffLocation">From Pickup Location:</label>
        <select id="dropOffLocation" name="dropOffLocation" >
            <option th:each="bookingDto : ${bookingsDtos}" th:value="${bookingDto.dropOffLocation}"  th:text="${bookingDto.dropOffLocation}"></option>
        </select>

        <!--        <label for="pickupLocation">From Pickup Location:</label>-->
        <!--        <input type="text" class="booking-input" id="pickupLocation" name="pickupLocation" required>-->

        <!--        <label for="dropOffLocation">To Pickup Location:</label>-->
        <!--        <input type="text" class="booking-input" id="dropOffLocation" name="dropOffLocation" required>-->

        <label for="pickupDateTime">Pickup Date and Time:</label>
        <input class="booking-input"  type="datetime-local" id="pickupDateTime" name="pickupDateTime" required>

        <label for="passengers">Number of Passengers:</label>
        <input type="number"  class="booking-input" id="passengers" name="passengers" min="1" required>
    </div>
    <!-- Additional fields for round trips -->
    <div class="form-columns">
        <div id="roundTripFields" style="display: none;">
            <label for="returnDateTime">Return Date and Time:</label>
            <input type="datetime-local" class="booking-input" id="returnDateTime" name="returnDateTime">
        </div>
        <div>
            <br>
            <button type="submit" class="booking-button" style="display: inline-block">Book Taxi</button>

        </div>
    </div>
    <script>
        // Show/hide return date and time fields based on trip type selection
        const tripTypeSelect = document.getElementById("tripType");
        const roundTripFields = document.getElementById("roundTripFields");
        const returnDateTimeInput = document.getElementById("returnDateTime");

        const bookingForm = document.getElementById("bookingForm");

        tripTypeSelect.addEventListener("change", function () {
            if (tripTypeSelect.value === "roundTrip") {
                roundTripFields.style.display = "block";
                returnDateTimeInput.required = true;
            } else {
                roundTripFields.style.display = "none";
                returnDateTimeInput.required = false;
            }
        });

        function resetForm() {
            bookingForm.reset();
        }

        window.addEventListener("pageshow", function (event) {
            // Check if the page is navigating back
            if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
                // Reset the form
                resetForm();
            }
        });

    </script>
</form>

