<link rel="stylesheet" th:href="@{homecss.css}" type="text/css"/>
<section class="home" id="home">
    <div class="home-text">
        <h1>Exceptional Service <br> On Every Drive With Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. A atque autem.
        </p>
        <a href="/booking" class="btn">Book Now</a>
    </div>
    <div class="background-img"></div>
</section>

<section class="services">
    <div class="section-divider">
        <div class="section-label">Our Services</div>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>Door-to-Door Transfer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="card">
            <h2>Professional Drivers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="card">
            <h2>Meet and Greet On Time</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>