<link rel="stylesheet" th:href="@{home.css}"/>
<section>
    <h2>Welcome to our Taxi Service</h2>
    <p>Fast and reliable transportation at your fingertips. Book a taxi now!</p>

    <button onclick="openBookingForm()">Book a Taxi</button>
</section>

<form th:action="@{/booking/form}" method="post">
    <label for="tripType">Trip Type:</label>
    <select id="tripType" name="tripType">
        <option value="oneWay">One Way</option>
        <option value="roundTrip">Round Trip</option>
    </select>


    <label for="pickupLocation">From Pickup Location:</label>
    <input type="text" id="pickupLocation" name="pickupLocation" required>

    <label for="dropOffLocation">To Pickup Location:</label>
    <input type="text" id="dropOffLocation" name="dropOffLocation" required>

    <label for="pickupDateTime">Pickup Date and Time:</label>
    <input type="datetime-local" id="pickupDateTime" name="pickupDateTime" required>

    <label for="passengers">Number of Passengers:</label>
    <input type="number" id="passengers" name="passengers" min="1" required>

    <!-- Additional fields for round trips -->
    <div id="roundTripFields" style="display: none;">
        <label for="returnDateTime">Return Date and Time:</label>
        <input type="datetime-local" id="returnDateTime" name="returnDateTime" required>
    </div>

    <script>
        // Show/hide return date and time fields based on trip type selection
        const tripTypeSelect = document.getElementById("tripType");
        const roundTripFields = document.getElementById("roundTripFields");

        tripTypeSelect.addEventListener("change", function () {
            if (tripTypeSelect.value === "roundTrip") {
                roundTripFields.style.display = "block";
            } else {
                roundTripFields.style.display = "none";
            }
        });
    </script>

    <button type="submit">Book Taxi</button>

</form>
