<link rel="stylesheet" th:href="@{logincss.css}"/>

<div class="login-container">
    <form class="login-form" action="/login" method="post">
        <h2>User Login</h2>

        <label for="username">Username:</label>
        <input class="login-input" type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input class="login-input" type="password" id="password" name="password" required>

        <button class="login-button" type="submit">Login</button>
    </form>

    <p class="register-message">Don't have an account? <a th:href="@{/register}">Register now!</a></p>
</div>

